*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f6f9;
}


/* Button settings */
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
  
button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}
  
button:active {
    outline: none;
    border: none;
}
  
button:focus {
    outline: 0;
}

.submit-btn{
    width: 100%;
    height: 2.3484375rem;
    border: 3px solid #14274e;
    border-radius: 0.2rem;
    color: #14274e;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 1s;
}

.submit-btn:hover{
    width: 100%;
    height: 2.3484375rem;
    border: 3px solid #14274e;
    background-color: #14274e;
    color: #fff;
    cursor: pointer;
}

.submit-btn:disabled{
    transition: 0s;
    background-color: #fff;
    color: #14274e80;
    border: 3px solid #14274e80;
    cursor: default;
}


/* --------------- */
.container{
    max-width: 63.4375rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.website-title{
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 1rem;
    color: #394867;
}

.input-box{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14274e;
    width: 2.5rem;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.inputs{
    width: 100%;
    height: 2.4484375rem;
    padding: 10px;
    border-style: none;
    outline: none;
    font-size: 1.05rem;
    border: 3px solid #14274e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inputs:focus{
    box-shadow: 0px 0px 3px 3px #9ba4b485;
    border: 3px solid #9ba4b4;
    
}

/* Cards */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}
.card{
    width: 318.328px;
    height: 379.234px;
    border: 2px solid #39486783;
    border-radius: 0.2rem;
    margin: 10px;
    background-color: #fff;
}

.card-bottom{
    padding: 1rem;
}

.card-picture{
    width: 100%;
    height: 237.23px;
}

.info-box{
    display: flex;
    margin-bottom: 1rem;
}

.category{
    font-size: 0.75rem;
    font-weight: 600;
    padding: 3px;
    margin-right: 1rem;
    border-radius: 4px;
    color: #fff;
}

.category-text{
    font-weight: 600;
}

.name-category{
    background-color: #394867;
}

.course-category{
    background-color:  #394867;
}

.author-category{
    background-color:  #394867;
}

.calc-box{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: #9ba4b4;
    margin-bottom: 1.5rem;
    border: 2px solid #394867;
}

.calc-text{
    color: #394867;
    font-size: 1.5rem;
}

/* --------------------- */

/* Loader-style */
.pause-container{
    margin-top: 2rem;
}
.spinning-loader{
    border: 16px solid #9ba4b4;
    border-top: 16px solid  #14274e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}


/* JavaScript dynamically */
.notfilled{
    border-color:  #C03D29;
}

/* Media Querys */
@media only screen and (max-width: 1200px){
    .customer-form{
        max-width: 850px;
    }

    .calc-box{
        max-width: 850px;
    }
}

@media only screen and (max-width: 992px){
    .customer-form{
        max-width: 630px;
    }

    .calc-box{
        max-width: 630px;
    }

    .container{
        padding: 0 1.7rem;
    }
}

@media only screen and (max-width: 767px){
    .customer-form{
        max-width: 465px;
    }

    .calc-box{
        max-width: 465px;
    }
}